<%= form_for(@gear_type) do |f| %>
  <% if @gear_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gear_type.errors.count, "error") %> prohibited this gear_type from being saved:</h2>

      <ul>
      <% @gear_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :caracteristics %><br>
    <%= f.text_field :caracteristics %>
  </div>
  <div class="field">
    <%= f.label :rental_price %><br>
    <%= f.text_field :rental_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
