<p id="notice"><%= notice %></p>

<h1>Listing Members Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Telephone</th>
      <th>Birth date</th>
      <th>Mail</th>
      <th>Facebook</th>
      <th>Total dives</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members_clients.each do |members_client| %>
      <tr>
        <td><%= members_client.name %></td>
        <td><%= members_client.telephone %></td>
        <td><%= members_client.birth_date %></td>
        <td><%= members_client.mail %></td>
        <td><%= members_client.facebook %></td>
        <td><%= members_client.total_dives %></td>
        <td><%= link_to 'Show', members_client %></td>
        <td><%= link_to 'Edit', edit_members_client_path(members_client) %></td>
        <td><%= link_to 'Destroy', members_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Members client', new_members_client_path %>
