<p id="notice"><%= notice %></p>

<h1>Listing Dive Service Members</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Payed</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dive_service_members.each do |dive_service_member| %>
      <tr>
        <td><%= dive_service_member.price %></td>
        <td><%= dive_service_member.payed %></td>
        <td><%= dive_service_member.notes %></td>
        <td><%= link_to 'Show', dive_service_member %></td>
        <td><%= link_to 'Edit', edit_dive_service_member_path(dive_service_member) %></td>
        <td><%= link_to 'Destroy', dive_service_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dive service member', new_dive_service_member_path %>
