<p id="notice"><%= notice %></p>

<h1>Listing Dive Spots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Max depth</th>
      <th>Min depth</th>
      <th>Sea life</th>
      <th>Coordenads</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dive_spots.each do |dive_spot| %>
      <tr>
        <td><%= dive_spot.name %></td>
        <td><%= dive_spot.max_depth %></td>
        <td><%= dive_spot.min_depth %></td>
        <td><%= dive_spot.sea_life %></td>
        <td><%= dive_spot.coordenads %></td>
        <td><%= dive_spot.notes %></td>
        <td><%= link_to 'Show', dive_spot %></td>
        <td><%= link_to 'Edit', edit_dive_spot_path(dive_spot) %></td>
        <td><%= link_to 'Destroy', dive_spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dive spot', new_dive_spot_path %>
