<%= form_for(@gear_size) do |f| %>
  <% if @gear_size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gear_size.errors.count, "error") %> prohibited this gear_size from being saved:</h2>

      <ul>
      <% @gear_size.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
