<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @dive_service.date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @dive_service.notes %>
</p>

<%= link_to 'Edit', edit_dive_service_path(@dive_service) %> |
<%= link_to 'Back', dive_services_path %>
