<p id="notice"><%= notice %></p>

<h1>Listing Dive Service Member Types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dive_service_member_types.each do |dive_service_member_type| %>
      <tr>
        <td><%= dive_service_member_type.description %></td>
        <td><%= dive_service_member_type.notes %></td>
        <td><%= link_to 'Show', dive_service_member_type %></td>
        <td><%= link_to 'Edit', edit_dive_service_member_type_path(dive_service_member_type) %></td>
        <td><%= link_to 'Destroy', dive_service_member_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dive service member type', new_dive_service_member_type_path %>
