<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dive_service_member_type.description %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @dive_service_member_type.notes %>
</p>

<%= link_to 'Edit', edit_dive_service_member_type_path(@dive_service_member_type) %> |
<%= link_to 'Back', dive_service_member_types_path %>
